body {
    padding-top: 56px;
    background-color: rgb(207, 207, 207); 
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #f8f9fa; 
    text-align: center; 
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, .1); 
}

.footer .container {
    display: flex;
    align-items: center; 
    justify-content: center; 
}


.form-group {
    margin-bottom: 1.5rem;
}

.form-group input {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, .1);
}

.col-md-4 input {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, .1);
}


.table {
    margin-top: 1.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .1);
}
